* 1) Даны значения величины заработной платы заемщиков банка (zp) и значения их поведенческого кредитного скоринга (ks):<br>
zp = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110],<br>
ks = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832].<br>
Найдите ковариацию этих двух величин с помощью элементарных действий, а затем с помощью функции cov из numpy<br>
Полученные значения должны быть равны.<br>
Найдите коэффициент корреляции Пирсона с помощью ковариации и среднеквадратичных отклонений двух признаков, а затем с использованием функций из библиотек numpy и pandas.

In [58]:
import numpy as np
import pandas as pd
from scipy.stats import norm
from math import sqrt

In [12]:
zp = np.array([35, 45, 190, 200, 40, 70, 54, 150, 120, 110])
ks = np.array([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])

In [13]:
zp_ks = zp * ks

In [20]:
cov = zp_ks.mean() - zp.mean() * ks.mean()
cov

9157.839999999997

In [26]:
cov = np.cov(zp, ks, ddof=0)
cov

array([[ 3494.64,  9157.84],
       [ 9157.84, 30468.89]])

In [31]:
pirson = cov[0, 1] / (zp.std() * ks.std())
pirson

0.8874900920739162

In [33]:
pirson = np.corrcoef(zp, ks)[0, 1]
pirson

0.8874900920739162

In [69]:
df = pd.DataFrame({'zp': zp, 'ks': ks}, columns=['zp', 'ks'])
df

    zp   ks
0   35  401
1   45  574
2  190  874
3  200  919
4   40  459
5   70  739
6   54  653
7  150  902
8  120  746
9  110  832

In [70]:
df.cov().values[0, 1] # Несмещенная оценка

10175.377777777776

In [71]:
df.corr()

         zp       ks
zp  1.00000  0.88749
ks  0.88749  1.00000

In [72]:
ks.std(ddof=1) # Несмещенная оценка стандартного отклонения

183.99544076477068

In [73]:
zp.std(ddof=1)

62.31318747531162

In [74]:
10175.3777 / (ks.std(ddof=1) * zp.std(ddof=1))

0.8874900852901869

In [75]:
9157 / (ks.std() * zp.std())

0.8874086873237411

* 2) Измерены значения IQ выборки студентов, обучающихся в местных технических вузах:<br> 131, 125, 115, 122, 131, 115, 107, 99, 125, 111.<br>
Известно, что в генеральной совокупности IQ распределен нормально.<br>
Найдите доверительный интервал для математического ожидания с надежностью 0.95.

In [47]:
iq = np.array([131, 125, 115, 122, 131, 115, 107, 99, 125, 111])

In [76]:
t_a_2 = 2.262
std = iq.std(ddof=1)
mean = iq.mean()

In [77]:
x_1 = mean - t_a_2 * std / sqrt(len(iq))
x_2 = mean + t_a_2 * std / sqrt(len(iq))
print(f'Доверительный интервал: ({x_1}, {x_2})')

Доверительный интервал: (110.55660776308164, 125.64339223691834)

* 3) Известно, что рост футболистов в сборной распределен нормально<br>
с дисперсией генеральной совокупности, равной 25 кв.см. Объем выборки равен 27,<br>
среднее выборочное составляет 174.2. Найдите доверительный интервал для математического

In [67]:
var = 25
std = sqrt(var)
n = 27
mean = 174.2
z_a_2 = norm.ppf(0.975)

In [68]:
x_1 = mean - z_a_2 * std / sqrt(n)
x_2 = mean + z_a_2 * std / sqrt(n)
print(f'Доверительный интервал: ({x_1}, {x_2})')

Доверительный интервал: (172.3140237765397, 176.08597622346028)